body{
    font-family: arial,sans-serif;
}

#topBar .buttonBar{
    top:0;
    left:0;
    right:0;
    width:100%;
}

#topBar .buttonBar .button-container{
    float: right;
    display:flex;
}

#topBar .buttonBar .button-container .button-flex-container{
    display: flex;
    flex-wrap: nowrap;
}

#topBar .buttonBar .button-container .button-flex-container .google-button{
    width: 80%;
    margin:2px;
    text-align: center;
    font-size: small;
}

#topBar .buttonBar .button-container .button-flex-container .google-button a:link{
    text-decoration: none;
    color: grey;
}


.main-content{
    height: 290px;
    display:flex;
    justify-content: center;
    width: 100%;
}

.main-content #google-logo{
    align-self: flex-end;
    position: relative;
}

.split{
    height: 10px;
}

.split2{
    height: 33px;
}

#search{
    display: block;
}

#search .search-content{
    display:inline-block;
    width:100%;
}

#search .search-content .search-input{
    width:55%;
    margin-left:22.5%;
    background-image: url(../media/search.png);
    background-repeat: no-repeat;
    background-position: 7px 4px;
    background-size: 30px;
    height: 40px;
    text-indent: 45px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    font-size:16px;
}

#search .search-content .search-input:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,35,0.28);
    border-color: rgba(223,225,229,0);
}

#search #g-buttons{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color:red;
    justify-content: center;
    padding: 10px;

}

#search #g-buttons #search-button-form:nth-child(1){
    margin:5px;
}
#search #g-buttons #search-button-form:nth-child(2){
    margin:5px;
}







